<form class="ui stacked segment form" action="/station/{{station.id}}/addautoreading" method="POST">
  <div class="two fields">
    from :https://openweathermap.org/
  </div>
  <button class="ui red submit button">Add Auto Reading</button>
</form>