<form class="ui stacked segment form" action="/station/{{station.id}}/addreading/false" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Code</label>
      <select class="ui fluid search dropdown"  name="code" required>
        <option value="100">Clear</option>
        <option value="200">Partial Clouds</option>
        <option value="300">Cloudy</option>
        <option value="400">Light Showers</option>
        <option value="500">Heavy Showers</option>
        <option value="600">Rain</option>
        <option value="700">Snow</option>
        <option value="800">Thunder</option>
      </select>
    </div>
    <div class="field">
      <label>Temperature</label>
      <!-- https://html.spec.whatwg.org/multipage/input.html#the-step-attribute -->
      <input placeholder="Temperature" type="number" step="0.1" name="temperature" required>
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <input placeholder="Wind Direction" type="number" step="0.1" name="windDirection" min="0" max="360" required>
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind Speed" type="number" step="1.0" name="windSpeed" required>
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure" type="number" name="pressure" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>