{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    WeatherTop Inc. Release 3
  </h1>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="https://cdn.glitch.global/8b851a16-0a29-4131-afd5-124030bfcd86/ios_weather_icons.jpg?v=1659446561800">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p>
          <img class="ui medium image" src="https://cdn.glitch.global/8b851a16-0a29-4131-afd5-124030bfcd86/station.jpg?v=1659446522982">
        </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="https://cdn.glitch.global/8b851a16-0a29-4131-afd5-124030bfcd86/Weather-Icons.jpg?v=1659446601309">
      </div>
    </div>
  </div>
</section>